<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="apikey" value="ed6653b5b97b79fe6e52412bf12303d3"/>
    <add key="apiurl" value="http://words.bighugelabs.com/api/2/"/>
    <add key="responsetype" value="json"/>
  </appSettings>
</configuration>